<div class="modal-overlay" data-modal10>
  <div class="modal">
    <button type="button" class="close-button" data-modal10-close>
      <svg width="14" height="14" class="icon-close">
        <use href="/img/icons.svg#icon-x-modal"></use>
      </svg>
    </button>
    <p class="modal-description">Join Now!</p>
    <h3 class="modal-title">One Session</h3>
    <p class="modal-description value">$10</p>
    <form class="modal-form" novalidate>
      <div class="modal-form-item">
        <label for="modal-form-10-user-name" class="modal-form-item-label">Your Name</label>
        <input
          type="text"
          id="modal-form-10-user-name"
          name="modal-form-10-user-name"
          class="modal-form-item-input"
          placeholder="Placeholder"
        />
        <p class="text-invalid" id="name-error-10">Invalid name, try again</p>
      </div>
      <div class="modal-form-item">
        <label for="modal-form-10-email" class="modal-form-item-label">Email</label>
        <input
          type="email"
          id="modal-form-10-email"
          name="modal-form-10-email"
          class="modal-form-item-input"
          placeholder="Placeholder"
        />
          <p class="text-invalid" id="email-error-10">Invalid email, try again</p>
      </div>
      <div class="modal-form-item">
        <label for="modal-form-10-phone" class="modal-form-item-label">Phone number</label>
        <input
          type="tel"
          id="modal-form-10-phone"
          name="modal-form-10-phone"
          class="modal-form-item-input"
          placeholder="Placeholder"
        />
        <p class="text-invalid" id="phone-error-10">This field is required</p>
      </div>
      <button type="submit" class="modal-form-button">
        Go to checkout
      </button>
    </form>
  </div>
</div>

<script src="/js/form-validation.js" defer></script>