      <div class="modal-overlay" data-modal65>
        <div class="modal">
          <button type="button" class="close-button" data-modal65-close>
            <svg width="14" height="14" class="icon-close">
              <use href="/img/icons.svg#icon-x-modal"></use>
            </svg>
          </button>
          <p class="modal-description">Join Now!</p>
          <h3 class="modal-title">8 Sessions Package</h3>
          <p class="modal-description">$65</p>
          <form class="modal-form">
            <div class="modal-form-item">
              <label class="modal-form-item-label">Your Name</label>
              <input
                type="text"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div class="modal-form-item">
              <label class="modal-form-item-label">Email</label>
              <input
                type="email"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div class="modal-form-item">
              <label class="modal-form-item-label">Phone number</label>
              <input
                type="tel"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <button type="button" class="modal-form-button">
              Go to checkout
            </button>
          </form>
        </div>
      </div>