<footer class="footer">
  <div class="container footer-container">
    <div class="footer-left">
      <a class="footer-logo" href="./index.html">
        <svg width="84" height="36">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <p class="footer-description">
        Subscribe to our newsletter for the latest updates on our yoga classes
        and events.
      </p>

      <div>
        <form class="subscribe-form" name="subscription-form">
          <label class="subscribe-label">
            <input
              class="subscribe-input"
              type="email"
              name="email"
              placeholder="Placeholder"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,})\.([A-z]{2,8})"
            />
          </label>
          <button class="subscribe-btn" type="submit">Join</button>
        </form>

        <p class="privacy-policy">
          By subscribing, you consent to our <a href="#">Privacy Policy</a> and
          agree to receive updates.
        </p>
      </div>

      <p class="copyright">&copy; 2025 Yoga Studio. All rights reserved.</p>
    </div>

    <div class="footer-right">
      <div class="footer-links">
        <p class="footer-title">Quick Links</p>
        <ul class="footer-nav">
          <li><a href="#classes">Yoga Classes</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contacts">Contacts</a></li>
        </ul>
      </div>

      <div class="footer-socials">
        <p class="footer-title">Connect With Us</p>
        <ul class="footer-social-list">
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
              Facebook
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
              Instagram
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#icon-linkedIn"></use>
              </svg>
              LinkedIn
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg width="24" height="24">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
              YouTube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
