<section class="gallery-section" id="gallery">
  <div class="container">
    <h2 class="gallery__title">Breathe in the Space</h2>
    <p class="gallery__text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session
    </p>

    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              /img/laptop/gallery/gallery1.png    1x,
              /img/laptop/gallery/gallery1@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/gallery/gallery1.png    1x,
              /img/tablet/gallery/gallery1@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/gallery/gallery1.png    1x,
              /img/phone/gallery/gallery1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/phone/gallery/gallery1.png" alt="Yoga pose 1" />
        </picture>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              /img/laptop/gallery/gallery2.png    1x,
              /img/laptop/gallery/gallery2@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/gallery/gallery2.png    1x,
              /img/tablet/gallery/gallery2@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/gallery/gallery2.png    1x,
              /img/phone/gallery/gallery2@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/phone/gallery/gallery2.png" alt="Yoga pose 2" />
        </picture>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              /img/laptop/gallery/gallery3.png    1x,
              /img/laptop/gallery/gallery3@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/gallery/gallery3.png    1x,
              /img/tablet/gallery/gallery3@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/gallery/gallery3.png    1x,
              /img/phone/gallery/gallery3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/phone/gallery/gallery3.png" alt="Yoga pose 3" />
        </picture>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              /img/laptop/gallery/gallery4.png    1x,
              /img/laptop/gallery/gallery4@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/gallery/gallery4.png    1x,
              /img/tablet/gallery/gallery4@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/gallery/gallery4.png    1x,
              /img/phone/gallery/gallery4@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/phone/gallery/gallery4.png" alt="Yoga pose 4" />
        </picture>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              /img/laptop/gallery/gallery5.png    1x,
              /img/laptop/gallery/gallery5@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/gallery/gallery5.png    1x,
              /img/tablet/gallery/gallery5@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/gallery/gallery5.png    1x,
              /img/phone/gallery/gallery5@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/phone/gallery/gallery5.png" alt="Yoga pose 5" />
        </picture>
      </li>

      <li class="gallery__item">
        <picture>
          <source
            srcset="
              /img/laptop/gallery/gallery6.png    1x,
              /img/laptop/gallery/gallery6@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/gallery/gallery6.png    1x,
              /img/tablet/gallery/gallery6@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/gallery/gallery6.png    1x,
              /img/phone/gallery/gallery6@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/phone/gallery/gallery6.png" alt="Yoga pose 6" />
        </picture>
      </li>
    </ul>
  </div>
</section>
