<section class="gallery-section" id="gallery">
  <div class="container">
    <h2 class="gallery__title">Breathe in the Space</h2>
    <p class="gallery__text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session
    </p>

    <ul class="gallery__list">
      <li class="gallery__item">
        <img src="./src/img/laptop/gallery/gallery1.png" width="421px" height="448px" alt="Yoga pose 1" />
      </li>
      <li class="gallery__item">
        <img src="src/img/laptop/gallery/gallery2.png" width="421px" height="448px" alt="Yoga pose 2" />
      </li>
      <li class="gallery__item">
        <img src="src/img/laptop/gallery/gallery3.png" width="421px" height="448px" alt="Yoga pose 3" />
      </li>
      <li class="gallery__item">
        <img src="src/img/laptop/gallery/gallery4.png" width="421px" height="448px" alt="Yoga pose 4" />
      </li>
      <li class="gallery__item">
        <img src="src/img/laptop/gallery/gallery5.png" width="421px" height="448px" alt="Yoga pose 5" />
      </li>
      <li class="gallery__item">
        <img src="src/img/laptop/gallery/gallery6.png" width="421px" height="448px" alt="Yoga pose 6" />
      </li>
    </ul>
  </div>
</section>