<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="header-nav-container">
        <button class="burger-btn" type="button">
          <svg class="burger-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <ul class="header-nav-list">
          <li class="link">
            <a class="active" href="#classes">Yoga Classes</a>
          </li>
          <li class="link"><a href="#team">Team</a></li>
          <li class="link"><a href="#testemonials">Testimonials</a></li>
          <li class="link"><a href="#pricing">Pricing</a></li>
          <li class="link"><a href="#contacts">Contacts</a></li>
        </ul>
        <a class="nav-logo" href="/index.html">
          <svg width="84" height="36">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <a class="link-join-us laptop" href="#">Join Now</a>
      <a class="link-join-us phone" href="#">Join</a>
    </nav>
  </div>
</header>
