<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="header-nav-container">
        <ul class="header-nav-list">
          <li class="link"><a class="active" href="#">Yoga Classes</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
        <a class="nav-logo" href="/index.html">
          <svg width="84" height="36">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <a class="link-join-us" href="#">Join Now</a>
    </nav>
  </div>
</header>
