<section class="hero-banner">
  <picture class="hero-img">
    <source
      srcset="/img/laptop/hero-img.jpg 1x, /img/laptop/hero-img@2x.jpg 2x"
      media="(min-width: 1336px)"
    />
    <source
      srcset="/img/tablet/hero-img.jpg 1x, /img/tablet/hero-img@2x.jpg 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="/img/phone/hero-img.jpg 1x, /img/phone/hero-img@2x.jpg 2x"
      media="(max-width: 767px)"
    />
    <img src="/img/phone/hero-img.jpg" alt="hero-banner" fetchpriority="high" />
  </picture>

  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
      <div>
        <p class="hero-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <ul class="hero-link-list">
          <li class="hero-link-list-item">
            <a class="hero-join-link" href="#pricing">Join Now</a>
          </li>
          <li class="hero-link-list-item">
            <a class="hero-more-link" href="#gallery">Learn More</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
