<div class="navbar" data-navbar>
  <div class="container navbar-container">
    <div class="navbar-header">
      <button class="navbar-btn-close" type="button" data-navbar-close>
        <svg width="24" height="24">
          <use href="/img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <a class="nav-logo" href="/index.html">
        <svg width="84" height="36">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="link-join-us phone" href="#">Join</a>
      <a class="link-join-us laptop" href="#">Join Now</a>
    </div>
    <nav class="navbar-nav">
      <ul class="navbar-list">
        <li class="link">
          <a href="#classes">Yoga Classes</a>
        </li>
        <li class="link"><a href="#team">Team</a></li>
        <li class="link"><a href="#testemonials">Testimonials</a></li>
        <li class="link"><a href="#pricing">Pricing</a></li>
        <li class="link"><a href="#contacts">Contacts</a></li>
      </ul>
      <a class="link-join-us navbar-link" href="#">Join Now</a>
    </nav>
  </div>
</div>
