<section id="pricing" class="pricing">
  <div class="container">
    <!-- title and description -->
    <p class="pricing-description">Affordable</p>
    <h2 class="pricing-title">Pricing Plans</h2>
    <p class="pricing-description">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-list">
      <!-- ----------------------------------------------------------------------------- -->

      <!-- one session ($10) list item -->
      <li class="pricing-list-item">
        <div class="pricing-list-item-container">
          <h3 class="pricing-list-item-title">One Session</h3>
          <p class="pricing-list-item-value">$10</p>
          <ul class="pricing-list-item-services-list">
            <li class="services-list-item">
              <p class="services-list-item-text">1 group session</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">
                10% discount for next 2 Sessions
              </p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">Community support group</p>
            </li>
          </ul>
          <button type="button" class="pricing-list-item-button">Join</button>
        </div>
      </li>

      <!-- one session ($10) modal overlay -->
      <div class="modal-overlay">
        <div class="modal">
          <button type="button" class="close-button">X</button>
          <p class="modal-description">Join Now!</p>
          <h3 class="modal-title">One Session</h3>
          <p class="modal-description">$10</p>
          <form class="modal-form">
            <div class="modal-form-item">
              <label for="" class="modal-form-item-label">Your Name</label>
              <input
                type="text"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div>
              <label for="" class="modal-form-item-label">Email</label>
              <input
                type="email"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div>
              <label for="" class="modal-form-item-label">Phone number</label>
              <input
                type="tel"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <button type="button" class="modal-form-button">
              Go to checkout
            </button>
          </form>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------- -->

      <!-- 8 Sessions Package ($65) list item -->
      <li class="pricing-list-item">
        <div class="pricing-list-item-container">
          <h3 class="pricing-list-item-title">8 Sessions Package</h3>
          <p class="pricing-list-item-value">$65</p>
          <ul class="pricing-list-item-services-list">
            <li class="services-list-item">
              <p class="services-list-item-text">6 Group Sessions</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">2 Individual Sessions</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">Priority customer support</p>
            </li>
          </ul>
          <button class="pricing-list-item-button">Join</button>
        </div>
      </li>

      <!-- 8 Sessions Package ($65) modal overlay-->
      <div class="modal-overlay">
        <div class="modal">
          <button type="button" class="close-button">X</button>
          <p class="modal-description">Join Now!</p>
          <h3 class="modal-title">8 Sessions Package</h3>
          <p class="modal-description">$65</p>
          <form class="modal-form">
            <div class="modal-form-item">
              <label class="modal-form-item-label">Your Name</label>
              <input
                type="text"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div class="modal-form-item">
              <label class="modal-form-item-label">Email</label>
              <input
                type="email"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div class="modal-form-item">
              <label class="modal-form-item-label">Phone number</label>
              <input
                type="tel"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <button type="button" class="modal-form-button">
              Go to checkout
            </button>
          </form>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------- -->

      <!-- 12 Sessions Package ($80) list item -->
      <li class="pricing-list-item">
        <div class="pricing-list-item-container">
          <h3 class="pricing-list-item-title">12 Sessions Package</h3>
          <p class="pricing-list-item-value">$80</p>
          <ul class="pricing-list-item-services-list">
            <li class="services-list-item">
              <p class="services-list-item-text">8 Group Sessions</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">4 Individual Sessions</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">Monthly yoga challenges</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">Exclusive member discounts</p>
            </li>
            <li class="services-list-item">
              <p class="services-list-item-text">Community support group</p>
            </li>
          </ul>
          <button class="pricing-list-item-button">Join</button>
        </div>
      </li>

      <!-- 12 Sessions Package ($80) modal overlay-->
      <div class="modal-overlay">
        <div class="modal">
          <button type="button" class="close-button">X</button>
          <p class="modal-description">Join Now!</p>
          <h3 class="modal-title">12 Sessions Package</h3>
          <p class="modal-description">$80</p>
          <form class="modal-form">
            <div class="modal-form-item">
              <label class="modal-form-item-label">Your Name</label>
              <input
                type="text"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div class="modal-form-item">
              <label class="modal-form-item-label">Email</label>
              <input
                type="email"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <div class="modal-form-item">
              <label class="modal-form-item-label">Phone number</label>
              <input
                type="tel"
                class="modal-form-item-input"
                placeholder="Placeholder"
              />
            </div>
            <button type="button" class="modal-form-button">
              Go to checkout
            </button>
          </form>
        </div>
      </div>
    </ul>
  </div>
</section>
