<section id="pricing" class="pricing">
  <div class="container">
    <!-- title and description -->
    <p class="pricing-description upper-text">Affordable</p>
    <h2 class="pricing-title">Pricing Plans</h2>
    <p class="pricing-description">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-list">
      <!-- ----------------------------------------------------------------------------- -->

      <!-- one session ($10) list item -->
      <li class="pricing-list-item">
        <div class="pricing-list-item-container">
          <h3 class="pricing-list-item-title">One Session</h3>
          <p class="pricing-list-item-value">$10</p>
          <ul class="pricing-list-item-services-list">
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">1 group session</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">
                10% discount for next 2 Sessions
              </p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">Community support group</p>
            </li>
          </ul>
          <button
            type="button"
            class="pricing-list-item-button"
            data-modal10-open
          >
            Join
          </button>
        </div>
      </li>

      <!-- ----------------------------------------------------------------------------- -->

      <!-- 8 Sessions Package ($65) list item -->
      <li class="pricing-list-item">
        <div class="pricing-list-item-container">
          <h3 class="pricing-list-item-title">8 Sessions Package</h3>
          <p class="pricing-list-item-value">$65</p>
          <ul class="pricing-list-item-services-list">
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">6 Group Sessions</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">2 Individual Sessions</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">Priority customer support</p>
            </li>
          </ul>
          <button class="pricing-list-item-button" data-modal65-open>
            Join
          </button>
        </div>
      </li>

      <!-- ----------------------------------------------------------------------------- -->

      <!-- 12 Sessions Package ($80) list item -->
      <li class="pricing-list-item wide">
        <div class="pricing-list-item-container">
          <div class="pricing-list-item-left">
            <h3 class="pricing-list-item-title">12 Sessions Package</h3>
            <p class="pricing-list-item-value">$80</p>
            <button class="pricing-list-item-button tablet">Join</button>
          </div>
          <ul class="pricing-list-item-services-list">
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">8 Group Sessions</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">4 Individual Sessions</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">Monthly yoga challenges</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">Exclusive member discounts</p>
            </li>
            <li class="services-list-item">
              <svg width="24" height="24">
                <use href="/img/icons.svg#icon-check"></use>
              </svg>
              <p class="services-list-item-text">Community support group</p>
            </li>
          </ul>
          <button class="pricing-list-item-button" data-modal80-open>
            Join
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
