<section class="team" id="team">
  <div class="container">
    <div class="team-head">
      <p class="team-head-text-h">Meet</p>
      <h2 class="team-title">Our Team</h2>
      <p class="team-text-d">
        Dedicated professionals passionate about yoga and wellness.
      </p>
    </div>
    <ul class="team-list">
      <li class="team-item">
        <picture class="team-foto">
          <source
            srcset="
              /img/laptop/our-team/yoga-instructor.png    1x,
              /img/laptop/our-team/yoga-instructor@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/our-team/yoga-instructor.png    1x,
              /img/tablet/our-team/yoga-instructor@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/our-team/yoga-instructor.png    1x,
              /img/phone/our-team/yoga-instructor@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="/img/phone/our-team/yoga-instructor.png"
            alt="Liam Johnson"
          />
        </picture>
        <div class="team-box-text">
          <h3 class="team-item-title">Liam Johnson</h3>
          <p class="team-item-prof">Yoga Instructor</p>
          <p class="team-item-text">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
        </div>
        <ul class="team-box-social">
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.linkedin.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture class="team-foto">
          <source
            srcset="
              /img/laptop/our-team/meditation-coach.png    1x,
              /img/laptop/our-team/meditation-coach@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/our-team/meditation-coach.png    1x,
              /img/tablet/our-team/meditation-coach@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/our-team/meditation-coach.png    1x,
              /img/phone/our-team/meditation-coach@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="/img/phone/our-team/meditation-coach.png"
            alt="Emma Stone"
          />
        </picture>
        <div class="team-box-text">
          <h3 class="team-item-title">Emma Stone</h3>
          <p class="team-item-prof">Meditation Coach</p>
          <p class="team-item-text">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="team-box-social">
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.linkedin.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture class="team-foto">
          <source
            srcset="
              /img/laptop/our-team/pilates-trainer.png    1x,
              /img/laptop/our-team/pilates-trainer@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/our-team/pilates-trainer.png    1x,
              /img/tablet/our-team/pilates-trainer@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/our-team/pilates-trainer.png    1x,
              /img/phone/our-team/pilates-trainer@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img src="/img/phone/our-team/pilates-trainer.png" alt="Sophia Lee" />
        </picture>
        <div class="team-box-text">
          <h3 class="team-item-title">Sophia Lee</h3>
          <p class="team-item-prof">Pilates Trainer</p>
          <p class="team-item-text">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
        </div>
        <ul class="team-box-social">
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture class="team-foto">
          <source
            srcset="
              /img/laptop/our-team/yoga-therapist.png    1x,
              /img/laptop/our-team/yoga-therapist@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/our-team/yoga-therapist.png    1x,
              /img/tablet/our-team/yoga-therapist@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/our-team/yoga-therapist.png    1x,
              /img/phone/our-team/yoga-therapist@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img src="/img/phone/our-team/yoga-therapist.png" alt="Noah Brown" />
        </picture>
        <div class="team-box-text">
          <h3 class="team-item-title">Noah Brown</h3>
          <p class="team-item-prof">Yoga Therapist</p>
          <p class="team-item-text">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
        </div>
        <ul class="team-box-social">
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.linkedin.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture class="team-foto">
          <source
            srcset="
              /img/laptop/our-team/fitness-trainer.png    1x,
              /img/laptop/our-team/fitness-trainer@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/our-team/fitness-trainer.png    1x,
              /img/tablet/our-team/fitness-trainer@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/our-team/fitness-trainer.png    1x,
              /img/phone/our-team/fitness-trainer@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img src="/img/phone/our-team/fitness-trainer.png" alt="Ava Green" />
        </picture>
        <div class="team-box-text">
          <h3 class="team-item-title">Ava Green</h3>
          <p class="team-item-prof">Fitness Trainer</p>
          <p class="team-item-text">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
        </div>
        <ul class="team-box-social">
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.linkedin.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team-item">
        <picture class="team-foto">
          <source
            srcset="
              /img/laptop/our-team/fitness-trainer2.png    1x,
              /img/laptop/our-team/fitness-trainer2@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/tablet/our-team/fitness-trainer2.png    1x,
              /img/tablet/our-team/fitness-trainer2@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/phone/our-team/fitness-trainer2.png    1x,
              /img/phone/our-team/fitness-trainer2@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />
          <img
            src="/img/phone/our-team/fitness-trainer2.png"
            alt="Clark Thomas"
          />
        </picture>
        <div class="team-box-text">
          <h3 class="team-item-title">Clark Thomas</h3>
          <p class="team-item-prof">Fitness Trainer</p>
          <p class="team-item-text">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="team-box-social">
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.facebook.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-box-social-item">
            <a
              class="link-social"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
