<section class="team">
  <div class="container team-container">
    <div class="team-head">
      <p>Meet</p>
      <h2>Our Team</h2>
      <p>Dedicated professionals passionate about yoga and wellness.</p>
    </div>
    <div class="team-box">
      <ul class="team-list">
        <li class="team-item">
          <picture class="team-foto">
            <source
              srcset="
                /img/laptop/our-team/yoga-instructor.png    1x,
                /img/laptop/our-team/yoga-instructor@2x.png 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/tablet/our-team/yoga-instructor.png    1x,
                /img/tablet/our-team/yoga-instructor@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/phone/our-team/yoga-instructor.png    1x,
                /img/phone/our-team/yoga-instructor@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/phone/our-team/yoga-instructor.png"
              alt="Liam Johnson"
            />
          </picture>
          <h3 class="team-item-title">Liam Johnson</h3>
          <p class="team-item-prof">Yoga Instructor</p>
          <p class="team-item-text">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-box-cosial">
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.linkedin.com/">
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/phone/our-team/icons.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.instagram.com/">
                <svg class="social-icon" width="24" height="24">
                  <use
                    href="/img/phone/our-team/icons.svg#icon-Instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team-item">
          <picture class="team-foto">
            <source
              srcset="
                /img/laptop/our-team/meditation-coach.png    1x,
                /img/laptop/our-team/meditation-coach@2x.png 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/tablet/our-team/meditation-coach.png    1x,
                /img/tablet/our-team/meditation-coach@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/phone/our-team/meditation-coach.png    1x,
                /img/phone/our-team/meditation-coach@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/phone/our-team/meditation-coach.png"
              alt="Emma Stone"
            />
          </picture>
          <h3 class="team-item-title">Emma Stone</h3>
          <p class="team-item-prof">Meditation Coach</p>
          <p class="team-item-text">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-box-cosial">
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.linkedin.com/">
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/phone/our-team/icons.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team-item">
          <picture class="team-foto">
            <source
              srcset="
                /img/laptop/our-team/pilates-trainer.png    1x,
                /img/laptop/our-team/pilates-trainer@2x.png 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/tablet/our-team/pilates-trainer.png    1x,
                /img/tablet/our-team/pilates-trainer@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/phone/our-team/pilates-trainer.png    1x,
                /img/phone/our-team/pilates-trainer@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/phone/our-team/pilates-trainer.png"
              alt="Sophia Lee"
            />
          </picture>
          <h3 class="team-item-title">Sophia Lee</h3>
          <p class="team-item-prof">Pilates Trainer</p>
          <p class="team-item-text">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-box-cosial">
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.instagram.com/">
                <svg class="social-icon" width="24" height="24">
                  <use
                    href="/img/phone/our-team/icons.svg#icon-Instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team-item">
          <picture class="team-foto">
            <source
              srcset="
                /img/laptop/our-team/yoga-therapist.png    1x,
                /img/laptop/our-team/yoga-therapist@2x.png 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/tablet/our-team/yoga-therapist.png    1x,
                /img/tablet/our-team/yoga-therapist@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/phone/our-team/yoga-therapist.png    1x,
                /img/phone/our-team/yoga-therapist@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/phone/our-team/yoga-therapist.png"
              alt="Noah Brown"
            />
          </picture>
          <h3 class="team-item-title">Noah Brown</h3>
          <p class="team-item-prof">Yoga Therapist</p>
          <p class="team-item-text">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-box-cosial">
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.linkedin.com/">
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/phone/our-team/icons.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team-item">
          <picture class="team-foto">
            <source
              srcset="
                /img/laptop/our-team/fitness-trainer.png    1x,
                /img/laptop/our-team/fitness-trainer@2x.png 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/tablet/our-team/fitness-trainer.png    1x,
                /img/tablet/our-team/fitness-trainer@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/phone/our-team/fitness-trainer.png    1x,
                /img/phone/our-team/fitness-trainer@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/phone/our-team/fitness-trainer.png"
              alt="Ava Green"
            />
          </picture>
          <h3 class="team-item-title">Ava Green</h3>
          <p class="team-item-prof">Fitness Trainer</p>
          <p class="team-item-text">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-box-cosial">
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.facebook.com/">
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/phone/our-team/icons.svg#icon-Facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.instagram.com/">
                <svg class="social-icon" width="24" height="24">
                  <use
                    href="/img/phone/our-team/icons.svg#icon-Instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.linkedin.com/">
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/phone/our-team/icons.svg#icon-LinkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="team-item">
          <picture class="team-foto">
            <source
              srcset="
                /img/laptop/our-team/fitness-trainer2.png    1x,
                /img/laptop/our-team/fitness-trainer2@2x.png 2x
              "
              media="(min-width: 1336px)"
            />
            <source
              srcset="
                /img/tablet/our-team/fitness-trainer2.png    1x,
                /img/tablet/our-team/fitness-trainer2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/phone/our-team/fitness-trainer2.png    1x,
                /img/phone/our-team/fitness-trainer2@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/phone/our-team/fitness-trainer2.png"
              alt="Clark Thomas"
            />
          </picture>
          <h3 class="team-item-title">Clark Thomas</h3>
          <p class="team-item-prof">Fitness Trainer</p>
          <p class="team-item-text">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-box-cosial">
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.facebook.com/">
                <svg class="social-icon" width="24" height="24">
                  <use href="/img/phone/our-team/icons.svg#icon-Facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-box-cosial-item">
              <a class="link-cosial" href="https://www.instagram.com/">
                <svg class="social-icon" width="24" height="24">
                  <use
                    href="/img/phone/our-team/icons.svg#icon-Instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
