.why-yoga {
}
.why-yoga-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.why-yoga__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.why-yoga__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
}
.why-yoga__subtitle {
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}
.why-yoga__grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.why-yoga__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.why-yoga__item-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
}
.why-yoga__item-text {
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}
.why-yoga__button {
  border-radius: 100px;
  background-color: #c2d8fc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 10px 24px;
}

.why-yoga__button.phone {
  max-width: 343px;
  width: 100%;
}

.why-yoga__button.laptop {
  display: none;
}

.why-yoga__button:hover,
.why-yoga__button:active {
  background-color: rgba(13, 11, 10, 0.05);
}

@media screen and (min-width: 768px) {
  .why-yoga-container {
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
  }
  .why-yoga__text {
    gap: 16px;
  }
  .why-yoga__subtitle {
    font-size: 18px;
  }
  .why-yoga__grid {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 704px;
  }
  .why-yoga__item {
    justify-content: flex-start;
    gap: 0;
    width: 100%;
    max-width: 340px;
    min-height: 160px;
  }
  .why-yoga__item-title {
    font-size: 20px;
  }
  .why-yoga__button.phone {
    display: none;
  }
  .why-yoga__button.laptop {
    width: 115px;
    height: 46px;
    display: flex;
  }
}

@media screen and (min-width: 1336px) {
  .why-yoga-container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .why-yoga__grid {
    flex-wrap: nowrap;
    max-width: 1312px;
  }
  .why-yoga__item {
    max-width: ;
    gap: 24px;
  }
  .why-yoga__item-title {
    font-weight: 400;
    font-size: 28px;
  }
}
