.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dfebeb;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.modal-overlay svg {
  fill: #0d0b0a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover svg,
.close-button:focus svg{
    fill: rgba(13, 11, 10, 0.3);
}

.modal-overlay .modal-form-button:hover,
.modal-overlay .modal-form-button:focus {
    background-color: rgba(13, 11, 10, 0.05);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;;
  min-height: 720px;
  border-radius: 16px;
  background-color: #dfebeb;

  padding: 64px 16px 112px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    min-height: 573px;
    padding: 64px 92px;
  }
}

@media screen and (min-width: 1336px) {
  .modal {
    width: 768px;
    padding: 64px;
  }
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.modal-description {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .modal-description {
    font-size: 52px;
    line-height: 62px;

    margin-bottom: 24px;
  }
}

.modal-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 22px;
    line-height: 31px;
  }
}

.modal-description.value {
  font-family: 'Cabin', sans-serif;
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .modal-description.value {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 24px;
  }
}

.modal-form {
  max-width: 343px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: none;
  }
}

.modal-form-item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .modal-form-item {
    margin-bottom: 0;
  }

  .modal-form-item:first-child {
    width: 100%;
  }

  .modal-form-item:not(:first-child) {
    width: calc((100% - 24px) / 2);
  }
}

.modal-form-item-label {
  line-height: 26px;
}

.modal-form-item-input {
  height: 42px;
  border: transparent;
  border-radius: 12px;
  background-color: rgba(13, 11, 10, 0.05);
  padding: 8px 12px;
}

.modal-form-item-input:focus {
  outline: none; 
}

.modal-form-item-input::placeholder {
  color: rgba(13, 11, 10, 0.6);
}

.modal-form-item-input:focus::placeholder {
  color: rgba(13, 11, 10, 1);
}

.modal-form-button {
  height: 46px;
  width: 100%;
  background-color: #c2d9fc;
  border: transparent;
  border-radius: 100px;

  font-weight: 500;
  line-height: 26px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-form-button {
    width: 155px;
    margin: 0 auto;
  }
}

.text-invalid {
  display: none;
  color: #B10000;
}

.text-invalid.active {
  display: block;
}

.invalid-input {
  border: 1px solid #B10000;
  color: #B10000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
