/* ========== Base styles ========== */
.footer {
  background: #dfebeb;
}

.footer-container {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #0d0b0a;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 48px;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-label {
  width: 100%;
  border-radius: 12px;
}

.subscribe-input {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 14px;
  width: 100%;
}

.subscribe-btn {
  padding: 12px 24px;
  background-color: rgba(13, 11, 10, 0.05);
  border: none;
  border-radius: 999px;
  font-size: 14px;
  align-self: flex-start;
}

.privacy-policy {
  font-size: 12px;
  line-height: 1.4;
  margin: 24px 0;
}

.copyright {
  font-size: 14px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.footer-links,
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 165px;
}

.footer-title {
  font-weight: 600;
}

.footer-nav li,
.footer-social-list li {
  padding: 8px 0px;
}

.footer-social-list li a {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* ========== Mobile: до 767px ========== */
@media screen and (max-width: 767px) {
  .footer {
    padding: 16px;
  }

  .footer-container {
    padding: 16px;
    gap: 24px;
  }

  .footer-left {
    gap: 16px;
    margin-bottom: 32px;
  }

  .footer-right {
    gap: 32px;
    margin-bottom: 32px;
  }

  .subscribe-form {
    flex-direction: column;
  }

  .copyright {
    font-size: 12px;
    text-align: center;
  }
}


/* ========== Tablet: від 768px до 1335px ========== */
@media screen and (min-width: 768px) and (max-width: 1335px) {
  .footer {
    padding: 40px 32px;
  }

  .footer-container {
    padding: 32px;
    flex-direction: column;
    gap: 48px;
  }

  .footer-left {
    margin-bottom: 40px;
    gap: 24px;
  }

  .footer-right {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 0;
  }

  .footer-links {
width: 300px;
  height: 194px;
    }
  .footer-socials {
      width: 300px;
        height: 194px;
     }

  .subscribe-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .copyright {
    font-size: 14px;
  }
}


/* ========== Desktop: від 1336px ========== */
@media screen and (min-width: 1336px) {
  .footer {
    padding: 64px 64px;
  }

  .footer-container {
    flex-direction: row;
    gap: 250px;
    padding: 64px;
  }

  .footer-left {
    margin-bottom: 0;
    gap: 24px;
  }

  .footer-right {
    flex-direction: row;
    max-width: 371px;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .copyright {
    font-size: 16px;
    position: static;
  }
}