/* ========== Base (Mobile First) ========== */

.gallery-section {
  padding: 64px 0;
  background-color: #f2fafa;
}

.gallery__title {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.32px;
  margin-bottom: 24px;
  font-family: Cabin;
}

.gallery__text {
  text-align: center;
  max-width: 100%;
  margin: 0 auto 40px;
}

.gallery__list {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}

.gallery__item {
  width: 100%;
}

.gallery__item picture {
  display: block;
  width: 100%;
}

.gallery__item img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

/* ========== Tablet (min-width: 768px) ========== */
@media (min-width: 768px) {
  .container {
    padding: 0;
    max-width: 768px;
    width: 100%;
    padding: 0;
  }

  .gallery__title {
    font-size: 52px;
    letter-spacing: 0.42px;
  }

  .gallery__text {
    font-size: 18px;
    max-width: 768px;
    width: 100%;
    margin-bottom: 60px;
    padding: 0;
  }

  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1335px) {
  .gallery-container {
    padding: 0 32px;
  }
}

/* ========== Desktop (min-width: 1336px) ========== */
@media (min-width: 1336px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .gallery__title {
    font-size: 52px;
    letter-spacing: 0.52px;
  }

  .gallery__text {
    max-width: 768px;
    margin-bottom: 80px;
  }

  .gallery__list {
    max-width: 1312px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 auto;
  }
}
