.header-container {
  max-width: 375px;
}

.header-nav {
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.header-nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.burger-btn {
  padding: 0;
  background: transparent;
  border: none;
}

.burger-icon {
  display: block;
}

.header-nav-list {
  display: none;
}

.nav-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.link-join-us {
  border-radius: 100px;
  background-color: #c2d8fc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.link-join-us.phone {
  width: 74px;
  height: 34px;
  margin-left: auto;
}

.link-join-us.laptop {
  display: none;
}

.link-join-us:hover {
  background-color: rgba(13, 11, 10, 0.05);
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 704px;
  }

  .link-join-us.phone {
    display: none;
  }

  .link-join-us.laptop {
    display: flex;
    width: 105px;
    height: 42px;
  }
}

@media screen and (min-width: 1336px) {
  .header-container {
    max-width: 1312px;
  }

  .header-nav {
    justify-content: space-between;
  }

  .header-nav-container {
    justify-content: space-between;
    max-width: 698px;
  }

  .burger-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
    margin-right: 160px;
  }

  .nav-logo {
    margin: 0;
  }

  .link {
    position: relative;
  }

  .link a:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    background-color: #454646;
  }

  .active::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    background-color: #454646;
  }
}
