.hero-banner {
}

.hero-img {
    display: block;
  width: 100%;
  height: auto;
  max-width: none;
}

@media only screen and (min-width: 1336px) {
   .hero-content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 80px;
}
}


.hero-title {
    font-weight: 400;
font-size: 44px;
line-height: 1.2;
letter-spacing: 0.01em;
max-width: 343px;
margin-top: 48px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 423px;
        margin-top: 24px;
    }
}

@media only screen and (min-width: 1336px) {
    .hero-title {
        max-width: 644px;
        font-size: 72px;
        margin-top: 0;
    }
}


.hero-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.6;
margin-top: 20px;
max-width: 343px;
}

@media only screen and (min-width: 768px) {
    .hero-text {
        font-size: 18px;
        max-width: 641px;
    }
}

@media only screen and (min-width: 1336px) {
    .hero-text {
        margin-top: 0;
    }
}

.hero-link-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

@media only screen and (min-width: 768px) {
    .hero-link-list {
        flex-direction: row;
    }
}

.hero-link-list-item {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .hero-link-list-item {
        width: 144px;
    }
}

.hero-join-link,
.hero-more-link {
  display: block;
  width: 100%;
  box-sizing: border-box;

  height: 46px;
  padding: 10px 24px;

  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
}

.hero-join-link {
  background-color: #c2d9fc;
  border: 1px solid #c2d9fc;
}

.hero-more-link {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid transparent;
}