.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 16px;
  padding: 16px 0;
}

.navbar-btn-close {
  background-color: transparent;
  border: none;
}

.navbar-btn-close svg {
  fill: #000;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar-list {
  margin-bottom: auto;
}

.link a {
  position: relative;
}

.link a:hover::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  background-color: #454646;
}

.navbar-list .link {
  padding: 12px 0px;
}

.link-join-us.navbar-link {
  display: flex;
  width: 100%;
  height: 46px;
  margin-bottom: 160px;
}

@media screen and (min-width: 768px) {
  .navbar-container {
    max-height: 812px;
  }

  .link-join-us.navbar-link {
    max-width: 204px;
  }
}

@media screen and (min-width: 1336px) {
  .navbar {
    display: none;
  }
}
